[phases.setup]
nixPkgs = [
  "...",
  "php82",
  "php82Extensions.curl",
  "php82Extensions.mbstring",
  "php82Extensions.openssl",
  "php82Extensions.pdo",
  "php82Extensions.pdo_mysql",
  "php82Packages.composer",
  "nodejs-18_x"
]

[phases.install]
cmds = [
  "composer install --optimize-autoloader --no-dev",
  "npm ci",
  "npm run build",
  "php artisan storage:link"
]

[phases.build]
cmds = [
  "php artisan migrate --force",
  "php artisan config:cache",
  "php artisan route:cache",
  "php artisan view:cache"
]

[start]
cmd = "php -d variables_order=EGPCS public/index.php"
