[phases.setup]
# Install system dependencies
commands = [
    "apt-get update",
    "apt-get install -y unzip git npm nodejs"
]

[phases.install]
# Install Composer & PHP dependencies
commands = [
    "curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer",
    "composer install --no-dev --optimize-autoloader",
    "npm install"
]

[phases.build]
# Build Vite assets and run migrations
commands = [
    "npm run build",
    "php artisan migrate --force"
]

[phases.start]
# Start Apache or PHP built-in server
# Railway usually exposes port 8080
commands = [
    "apache2-foreground"
]

[env]
# Replace these with your PUBLIC Railway database credentials
DB_CONNECTION="mysql"
DB_HOST="tramway.proxy.rlwy.net"
DB_PORT="53071"
DB_DATABASE="railway"
DB_USERNAME="root"
DB_PASSWORD="rljBsaDjqXTiSnINBRdxPfSNekjDdtTI"
APP_KEY = "base64:C4y1IPjj0jpYPu7TrJYgqmfGCJpvcbcxxvCmqzwrflE="
APP_ENV = "production"
APP_DEBUG = "false"
APP_URL = "https://plexus-medical-city-production.up.railway.app"
